body{
    background-color: rgb(162, 238, 238);
}
hr{
    background-color: transparent;
    border-style: none;
    border-top-style: dotted;
    border-color: violet;
    border-width: 5px;
    width: 10%;
}
input{
    background-color: bisque;
}
textarea{
    background-color: azure;
}
img{
    height: 150px;
}
h1{
    color: rgb(0, 119, 255);
}
h3{
    color: #D06224;
}
a:hover{
    color: red;
}

#submit{
    background-color: gold;
}
#reset{
    background-color: rgb(58, 226, 52);
}
