body{
    background-color: #ccf5f0;
}
hr{
    background-color: transparent;
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;

}
img{
    height: 150px;
}
h1{
    color: #23049D;
}
h3{
    color: #D06224;
}